.header {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 64px;
  padding-left: 40px;
  background-color: #fff;
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: rgba(71, 75, 255, 0.075) 0px 2px 3px;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;

  :global {
    .logo {
      width: 30px;
      height: 30px;
    }
    .title {
      margin-left: 10px;
      line-height: 64px;
    }
  }
}
