:global {
  [data-test-id='menu'] {
    width: 100%;
    border: 1px solid rgb(225, 225, 239);
    border-bottom: 0;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 15px;
    margin: 0;
  }
  [role='textbox'] {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 320px;
    width: 100%;
    border: 1px solid rgb(225, 225, 239);
    padding: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 0;
    background-color: #fff;
    outline: none;
    resize: none;

    &:focus {
      box-shadow: #deeafa 0px 10px 15px -3px, #cccdff 0px 4px 6px -2px;
    }
  }
  [role='textbox']:focus {
    border-color: #a3a5ff;
  }
}

[role='textbox']::-webkit-scrollbar {
  width: 5px;
}

[role='textbox']::-webkit-scrollbar-track {
  background-color: #fff;
}

[role='textbox']::-webkit-scrollbar-thumb {
  background: rgb(225, 225, 239);
  border-radius: 25px;
}
