@mixin primary {
  background-color: var(--btnColor);
  border: 1px solid var(--btnColor);
  color: #fff;
}

.box {
  margin-inline: 50px 20px;

  :global {
    .content {
      display: flex;
      .left {
        width: 60%;
      }
      .right {
        display: flex;
        align-items: center;
        margin: 10px 0 0 40px;
        font-size: 18px;
        height: 30px;

        input {
          width: 20px;
          height: 20px;
          margin-right: 5px;
          cursor: pointer;
        }
        label {
          cursor: pointer;
        }
      }
    }

    .btn {
      margin-top: 25px;
      text-align: center;

      button:not(:first-child) {
        margin-left: 20px;
      }

      &-texthtml {
        @include primary;
      }
      &-small {
        width: 90px;
        height: 40px;
      }
    }

    .texthtml {
      margin-top: 25px;
      &-title {
        margin-bottom: 2px;
        font-size: 18px;
        color: rgb(99, 99, 136);
        cursor: pointer;
      }
      &-content {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      &-textarea {
        width: 60%;
        height: 150px;
        padding: 15px;
        resize: none;
        border-radius: 8px;
        border-color: #a3a5ff;
        font-size: 17px;
        outline: none;
        margin-right: 20px;

        &:focus {
          box-shadow: #deeafa 0px 10px 15px -3px, #cccdff 0px 4px 6px -2px;
        }

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-track {
          background-color: #fff;
        }

        &::-webkit-scrollbar-thumb {
          background: rgb(225, 225, 239);
          border-radius: 25px;
        }
      }
    }
  }
}
