@import url(https://fonts.bunny.net/css?family=abeezee:400|alexandria:500);

:root {
  font-family: Manrope, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #f8f9fb;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --btnColor: rgb(71, 75, 255);
  --borderColor: #a3a5ff;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'ABeeZee', sans-serif;
}
